.video-header {
    color: white;
}

.video-title {
    color: #5658DD;
    text-align: center;
    font-size: 1.2rem;
}

.videos-wrapper {
    /* display: flex;
    flex-direction: column; */
}

.trailers-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video-info {
    /* width: 30%; */
    color: white;
    text-align: center;
}

.video-buttons{
    display: flex;
    justify-content: space-around;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-41:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
  }