.navbar{
    color: #5658DD;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    position: fixed;
    top: -15px;
    background-color: black;
    width: 100%;
    z-index: 1;
}

a{
    text-decoration: none;
}
