.split-item {
    color: white;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    margin: 4%;
}

.whats-new-images{
    display: flex;
     flex-wrap: wrap;
     padding: 5px;
     justify-content: flex-end;
     max-height: 335px;
     max-width: 490px;
}

.text-xxs {
    font-size: 2rem;
}
